*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        circle ,
        #242222,
        black 90%
      ) no-repeat;
      background-position: bottom;
      background-size: 100% 100%;

}
#addBtn{
    position: relative;
}
#header{
    display: flex;
    justify-content: center ;
    margin-top: 5vh;
    color: white;
}
#ibox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}
#inpbox{
    position: relative;
    z-index: 2;
    top: 0.5vh;
    width: 40vw;
    height: 10vh;
    border-right: 2px solid black;
    border-radius: 6px 0px 0px 6px;
    box-shadow: inset 0 -4px 0px black;
    font-size: 20px;
    font-weight: 200;
}
#addBtn{
    position: relative;
    top: 1vh;
    right: 3.7px;
     height: 9.5vh;
     width: 10vw;
     border: 1px solid #355E3B;
     border-radius: 0 5px 5px 0px;
     box-shadow: 0 6px 0 #006400;
     margin-left: 0;
     background-color: #66FF00;
     color: black;
     font-weight: 900;
     font-size: xx-large;
     font-stretch: expanded;
     letter-spacing: 0.01em;
}
#addBtn:active{
    top: 1.9vh;
    box-shadow: 0 -1px 0 grey;
}
#theader{
    display: flex;
    justify-content: center ;
    color: white;
}
#list{
    overflow: hidden;
    margin: 20px;
}
li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    height: 7vh;
    border: 1px solid green;
    margin: 10px;
    background:linear-gradient(to bottom, white 50%, #03C03C 50%);
    background-size: 100% 200%;
    background-position: top;
    box-shadow: inset 0px -1px 5px green;
    transition: all 1s;
}
li:hover{
    background-position: bottom;
}
li span{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 80%;
    padding: 5px;
    padding-left: 10px;
    overflow: hidden;
}
.rmBtn{
    flex-basis: 10%;
    position: relative;
    z-index: 2;
    background-color: white;
    border: 2px solid red;
    height: 80%;
    right: 0px;
    background: linear-gradient(to left, white 50%, red
    50%);
    background-size: 200% 100%;
    background-position: right;
    box-shadow: 1px 1px 2px red;
    color: red;
    font-weight: 600;
    transition:all 1s;
}
.rmBtn:hover{
    color: white;
    background-position: left;
}